.footer-section {
    padding: 0 25px;
    background-color: #1b2433;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.name-section {
    margin: 0 .5rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.separator {
    display: inline;
}

.footer-icons {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.footer-icons > li {
    cursor: pointer;
    list-style-type: none;
}

.footer-fa-icon {
    font-size: medium;   
}

@media screen and (max-width: 900px) {
    .footer-section {
        font-size: .9rem;
    }
    .separator {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .footer-section {
        padding: .5rem 1rem;
        font-size: .55rem;
        text-align: center;
    }

    .footer-fa-icon {
        font-size: small;
    }
}