.nav-bar {
    width: auto;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #E6EFEA;
}

.nav-bar-title {
    font-family: "Silkscreen", sans-serif;
    font-size: 2rem;
    margin: 0 24px;
}

.nav-bar-items {
    display: flex; 
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin: 0 24px;
}

.nav-button {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    letter-spacing: .8px;
}

.nav-link:hover {
    font-weight: bold;
}

.mobile-nav {
    display: none;
}

.close-nav {
    display: none;
}

.mobile-nav-icon {
    margin: 1rem;
    font-size: x-large;
}

@media screen and (max-width: 900px) {
    .nav-bar {
        padding: 0;
    }

    .mobile-items {
        display: flex;
        margin: 0;
        padding: 2rem;
        flex-direction: column;
        gap: 1rem;
        width: 35%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 60%;
        background-color: white;
        z-index: 20;
        justify-content: baseline;
        align-items: baseline;
    }

    .mobile-nav {
        display: inline;
        padding: 0;
        width: fit-content;
        height: fit-content;
        top: 1%;
        left: 93%;
        background-color: transparent;
    }

    .nav-bar-items {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .nav-bar-title {
        font-size: 1.7rem;
    }

    .mobile-items {
        width: 35%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 50%;
        background-color: white;
        z-index: 20;
    }

    .mobile-nav {
        padding: 0;
        width: fit-content;
        height: fit-content;
        top: 1%;
        left: 87%;
        background-color: transparent;
    }

    .nav-link {
        font-size: 1rem;
    }
}
