.content-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: left;
    padding: 40px 60px;
}

.smell-explanation {
    height: auto;
    border-radius: 12px;
    background-color: #ECF2FF;
    box-shadow: 5px 5px 5px #DDDDDD;
    padding: 32px;
}

.smell-name, .smell-type-list > h3 {
    margin: 0;
}

.smell-types {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.smell-type-list {
    width: 60vw;
    list-style-type: none;
    height: auto;
    background-color: white;
    position: relative;
    text-align: left;
    padding: 30px 35px;
}
